In [1]:
import notebook_functions
reload(notebook_functions)
from notebook_functions import *
import os, pandas as pd, cPickle as pickle
from nolearn.lasagne.visualize import plot_conv_activity, plot_conv_weights, plot_occlusion
from lasagne.layers import get_output, get_output_shape
import theano.tensor as T
import theano
%pylab inline

Couldn't import dot_parser, loading of dot files will not be possible.
Populating the interactive namespace from numpy and matplotlib

Using gpu device 0: GeForce GTX 960 (CNMeM is disabled, CuDNN 4004)
WARNING:

pylab import has clobbered these variables: ['ceil', 'floor']
`%matplotlib` prevents importing * from pylab and numpy

In [2]:
df_larger = pd.read_csv("preds.net.vgg.large.l2.5e3.orthog-norm-maxout8-lr.2.steps-size-261.csv",
                       index_col=0)
df_larger[:3]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
img,,,,,,,,,,
img_73540.jpg,0.001792,0.001862,0.001615,0.001430,0.001713,0.985091,0.001590,0.001571,0.001598,0.001738
img_9672.jpg,0.001199,0.001071,0.990131,0.001134,0.001298,0.001053,0.001057,0.000954,0.001030,0.001073
img_49295.jpg,0.001446,0.001463,0.001732,0.001496,0.986199,0.001575,0.001503,0.001498,0.001612,0.001475

# Read first csv

In [10]:
df = pd.read_csv("preds.bagged.001.csv", index_col=0)
df[:5]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
img,,,,,,,,,,
img_73540.jpg,0.002068,0.001070,0.001171,0.001879,0.001061,0.988639,0.001038,0.001012,0.000941,0.001121
img_9672.jpg,0.002029,0.002374,0.982668,0.001452,0.001601,0.001600,0.001891,0.001657,0.002499,0.002229
img_49295.jpg,0.001817,0.001031,0.001063,0.001287,0.989370,0.001161,0.001099,0.001106,0.000996,0.001070
img_91517.jpg,0.003012,0.001345,0.001518,0.001606,0.001643,0.985064,0.001751,0.001497,0.001173,0.001393
img_51925.jpg,0.954098,0.003298,0.002645,0.008444,0.004786,0.007253,0.003060,0.002755,0.002484,0.011176

In [19]:
mat_concat = np.dstack((df, df_larger))
print mat_concat.shape
mat_concat = np.mean(mat_concat, axis=2)
print mat_concat.shape

(79726, 10, 2)
(79726, 10)

In [21]:
both_df = pd.DataFrame(mat_concat, index=df.index, 
                       columns=["c0","c1", "c2", "c3", "c4", "c5", "c6", "c7", "c8", "c9"])
both_df.index.name ='img'
both_df.shape

(79726, 10)

In [22]:
both_df[:3]

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
img,,,,,,,,,,
img_73540.jpg,0.001930,0.001466,0.001393,0.001654,0.001387,0.986865,0.001314,0.001292,0.001270,0.001429
img_9672.jpg,0.001614,0.001723,0.986399,0.001293,0.001449,0.001326,0.001474,0.001305,0.001765,0.001651
img_49295.jpg,0.001632,0.001247,0.001398,0.001391,0.987785,0.001368,0.001301,0.001302,0.001304,0.001273

In [23]:
both_df.to_csv("preds.bagged.002.csv")